/* Add CSS Styling */
.big-red {
	font-size: 20px;
	font-family: Verdana, DejaVu Sans, sans-serif;
	background: rgba(255, 0, 0, 0.3);
}

#blue-bg {
	color: blue;
	font-size: 36px;
}

.bigger {
	font-size: 24px;
}

#green-bg {
	background-color: lime;
	font-size: 24px;
	font-weight: bold;
}